/* background color */
.ant-layout{
  background: #ECF1F8 !important;
}

*, h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ul , li {
  text-decoration: none;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd{
  display: none;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-badge .ant-badge-count {
  background: #23A095;
  color: white !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
  padding: 10px 10px !important;
  margin-bottom: 0 !important;
}

/* table padding remove */
.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  display: none !important;
}
.ant-table-wrapper .ant-table-tbody >tr >td{
  padding-top: 10px !important;
  /* border-bottom: none !important; */
}
.ant-table-wrapper .ant-table-thead>tr>th{
  padding: 10px 16px !important;
}
.ant-table-wrapper .ant-table-tbody>tr>td{
  padding: 9px 16px !important;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-table-wrapper .ant-table-pagination.ant-pagination{
  margin: 8px 0 !important;
}

/* slider */
.ant-slider .ant-slider-handle:hover::after{
  box-shadow: 0 0 0 4px #6A6D7C !important;
}
.ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px #6A6D7C !important;
}

.ant-slider .ant-slider-handle::after{
  box-shadow: 0 0 0 4px #6A6D7C !important;

}

/* ant design  table custom styles start*/
.ant-table-thead tr th{
  background-color: #fee3b8!important;
}

.ant-table-row-level-0{
  background: #F2F8FE !important;
}

.custom-table-row th, .custom-table-row td{
  padding: 10px 10px 10px 40px;
}

/* for table heading */
.custom-table-row th:first-child{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.custom-table-row th:last-child{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

/* for table details */
.custom-table-row td:first-child{
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.custom-table-row td:last-child{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
/* ant design  custom styles end*/





/* ant design pagination custom style */
.ant-pagination .ant-pagination-item{
  border-radius: 50% !important;
}
.ant-pagination .ant-pagination-item:hover{
  border-radius: 50% !important;
}

.ant-pagination .ant-pagination-item-active a{
  background-color: #ECF1F8 !important;
  color: #949494 !important;
  border-radius: 50% !important;
}

/* ant design dropdown custom style */
.year .ant-dropdown-trigger{
  width: 100px !important;
}

.filter .ant-dropdown-trigger{
  width: 100px !important;
}

.ant-dropdown-trigger{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.ant-dropdown-trigger .anticon .anticon-down{
  padding: 0 !important;
}


/* custom button for sweat alert */
.custom-send-button {
  background-color: #436FB6 !important; /* Green */
  border: none;
  outline: none;
  width: 200px;
  height: 48px;
  border-radius: 90px !important;
  color: white;
  box-shadow: none !important;
}

.custom-close-button {
  color: #6F6F6F !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  font-size: 30px !important;
  margin: 10px 10px 0 0 !important;
  cursor: pointer;
}

.custom-modal-popup {
  border-radius: 24px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 90px !important;
  border: none !important;
}
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background: transparent !important;
}